nav { 
   background-color: rgb(61, 59, 83);
   padding: 20px;
}
ul {
   display: flex;
   justify-content: center;
   list-style-type: none;
   margin: 0;
   overflow: hidden;
   padding-left: 125px;
   padding-right: 125px;
 }
 ul li a {
   display: block;
   color: white;
   text-align: ;
   padding: 10px 10px;
   text-decoration: none;
   border-style: solid;
   border-width: .1px; 
 }
 li { 
   padding-left: 10px;
 }
h1 {
   color: blue;
}
.hero {
   display: flex;
   
   background-image: url(layout-01-assets/img11.jpg);
   padding: 200px;
}

 